/usr/bin/bash: line 1: q: command not found
/.vs/ProjectEvaluation/easysaveversion1.metadata.v5.2
/.vs/ProjectEvaluation/easysaveversion1.projects.v5.2
/.vs/EasySaveVersion1/v17/.futdcache.v2
/.vs/EasySaveVersion1/v17/.suo
/.vs/EasySaveVersion1/DesignTimeBuild/.dtbcache.v2
