/.vs/*
/EasySaveVersion1/obj/Debug/netcoreapp3.1/EasySaveVersion1.csproj.FileListAbsolute.txt
/.vs/EasySaveVersion1/DesignTimeBuild/.dtbcache.v2
/EasySaveV2/obj/*
/EasySaveVersion1/obj/*
/EasySaveV2/bin/Debug/netcoreapp3.1/EasySaveV2.deps.json
